@use "../../partials/palette";
@use "../../partials/mixins";
@use "../../partials/breakpoints";

.tag {
  background-color: palette.$dark-green;
  color: palette.$aquamarine;
  padding: 4px 10px;
  border-radius: 25px;
}
