@use "../../partials/palette";
@use "../../partials/mixins";
@use "../../partials/breakpoints";

.projectsPage {
  display: flex;
  background: palette.$dark-blue;
  color: palette.$white;
  padding: 110px 0 0 0;
  flex-grow: 1;
  width: 100%;
  justify-content: center;
  position: relative;
  justify-content: center;
  overflow: hidden;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 1.5s ease forwards;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 250px;
    width: 90%;
    max-width: 900px;
    margin-top: 50px;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
