@use "../../partials/palette";
@use "../../partials/mixins";
@use "../../partials/breakpoints";

.projectsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: palette.$dark-blue;
  color: palette.$white;
  padding: 70px 0 70px 0;
  flex-grow: 1;
  width: 100%;
  justify-content: center;
  position: relative;
  overflow: hidden;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 1.5s ease forwards;

  &__content {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 1000px;
    margin-top: 50px;
    align-items: start;
    gap: 120px;

    &__heading {
      font-size: 35px;
      font-weight: 700;
      font-size: clamp(22px, 4vw + 0.5rem, 35px);
    }

    @include mixins.desktop_sm {
      width: 80%;
    }

    @include mixins.tablet {
      width: 88%;
      gap: 50px;
    }

    &__projectList {
      display: flex;
      flex-direction: column;
      gap: 220px;
      width: 100%;
      padding: 0;

      @include mixins.tablet {
        gap: 80px;
      }

      @include mixins.phone_sm {
        gap: 50px;
      }
    }
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
