@use "../../partials/palette";
@use "../../partials/mixins";
@use "../../partials/breakpoints";

.footer {
  width: 100%;
  background: palette.$dark-blue;
  color: palette.$white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;

  &__content {
    display: flex;
    flex-direction: column;
    // background-color: red;
    width: 90%;
    max-width: 1500px;
    // padding: 10px 0;
    // align-items: center;

    &__links {
      display: flex;
      gap: 10px;
    }

    &__copyright {
      display: flex;
      justify-content: center;
      font-size: 13px;
      opacity: 0.2;
    }
  }
}
