@use "../../partials/palette";
@use "../../partials/mixins";
@use "../../partials/breakpoints";

.homePage {
  display: flex;
  background: palette.$dark-blue;
  color: palette.$white;
  padding: 70px 0 0 0;
  flex-grow: 1;
  width: 100%;
  justify-content: center;
  position: relative;
  justify-content: center;
  overflow: hidden;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    max-width: 1500px;
    margin-top: 200px;
    // perspective: 850px;

    &__heading {
      position: relative;
      // font-size: 30px;
      font-size: clamp(16px, 2vw + 0.5rem, 25px);
      font-weight: 600;
      line-height: 1.2;
      width: max-content;

      @include mixins.typewriter-animation(
        12,
        1.5s,
        0.3s,
        0.1s,
        1.8s,
        forwards
      );
    }

    &__para1 {
      position: relative;
      font-size: clamp(20px, 4vw + 0.5rem, 52px);
      font-weight: 700;
      line-height: 1.2;
      width: max-content;

      & span {
        color: grey;
      }

      @include mixins.typewriter-animation(22, 2.75s, 2s, 2s, 2.75s, forwards);
    }

    &__para2 {
      position: relative;
      font-size: clamp(18px, 2.5vw + 0.5rem, 36px);
      font-weight: 700;
      color: palette.$light-blue;
      width: max-content;

      @include mixins.typewriter-animation(20, 2.9s, 5s, 5s, 2.9s, forwards);
    }
    &__para3 {
      position: relative;
      font-size: clamp(16px, 1.4vw + 0.5rem, 25px);
      margin: 20px 0 40px;
      width: max-content;

      @include mixins.typewriter-animation(
        22,
        2.75s,
        8.85s,
        8.85s,
        0.9s,
        infinite
      );
    }
  }
}
