@use "../../partials/palette";
@use "../../partials/mixins";
@use "../../partials/breakpoints";

.contactPage {
  display: flex;
  background: palette.$dark-blue;
  color: palette.$white;
  padding: 70px 0 0 0;
  flex-grow: 1;
  width: 100%;
  position: relative;
  justify-content: center;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 1.5s ease forwards;

  &__content {
    display: flex;
    flex-direction: row;
    gap: 6vw;
    margin-top: 50px;
    width: 70%;
    max-width: 1000px;

    @include mixins.desktop_sm {
      width: 80%;
      flex-direction: column;
    }

    @include mixins.tablet {
      width: 88%;
      gap: 40px;
    }

    &__details {
      display: flex;
      gap: 15px;
      flex-direction: column;

      &__heading {
        font-weight: 700;
        font-size: clamp(22px, 4vw + 0.5rem, 35px);
      }

      &__paragraph {
        font-size: clamp(16px, 3vw, 22px);
        color: palette.$grey;
      }

      &__socials {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;

        & li a {
          display: flex;
          gap: 10px;
          align-items: center;
          cursor: pointer;
          transition: color 0.3s;
          color: palette.$white;
          text-decoration: none;

          & i {
            font-size: 1.1rem;
          }

          &:hover {
            color: palette.$light-blue;
          }
        }

        &__url {
          @include mixins.phone_sm {
            display: none;
          }
        }
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;

      &__paragraph {
        font-size: clamp(16px, 3vw, 22px);
        color: palette.$grey;
      }
    }
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
